<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="{{uiRootPath}}/css/extra.css" />
<script async src="{{uiRootPath}}/js/copy.js"> </script>

